body{
    font-family: cursive;
}

div{
    width: 100%;
    height: 200px;
    background-color: blue;
}

figure{
    margin: 10px;
    width: 350px;
    border: 2px solid blue;
    border-radius: 20px;
    overflow: hidden;
}

figcaption{
    padding: 20px;
    text-align: center;
}

h2{
    font-weight: bold;
    font-size: 1.2em;
}

p{
    font-size: 1.2em;
    margin: 20px;
}

button{
    all: unset;
    padding: 10px 25px;
    border: 2px solid darkblue;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    background-color: darkblue;
}

span{
    float: left;
}

img{
    width: 100px;
    height: 100px;
    float: right;
}

svg{
    float: left;
    position: absolute;
    left: 100px;
}
