*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.light-theme{
    background-color: beige;
    color: black;
}

.dark-theme{
    background-color: darkgray;
    color: bisque;
}