:root{
    --header-height: 50px;
    --footer-height: 50px;
    --main-height: calc(100% - var(--header-height) - var(--footer-height));
    --aside-left-width: 15%;
    --aside-right-width: 15%;
    --main-width: calc(100% - var(--aside-left-width) - var(--aside-right-width));
    --main-margin-h: 2px;
    --main-margin-w: 2px;
}

body{
    padding: 2px;
    height: 100vh;
}

header{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: var(--footer-height) 1fr var(--footer-height);
    height: var(--header-height);
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
}

#logo{
    height: calc( var(--footer-height) - 2px);
}

#main-total{
    display: flex;
    flex-direction: row;
    height: var(--main-height);
    padding: var(--main-margin-h) 0;
}

aside{
    display: flex;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
}

#aside-left{
    width: var(--aside-left-width);
    /* менять от размера*/
    /* display: none;  */
    margin-right: var(--main-margin-w);

}

#aside-right{
    width: var(--aside-right-width);
    /* менять от размера*/
    /* display: none; */
    margin-left: var(--main-margin-w);

}

#main{
    display: flex;
    width: 100vw;
    /* width: var(--main-width); */
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
}

footer{
    display: flex;
    height: var(--footer-height);
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
}