:root{
    --header-height: 50px;
    --footer-height: 50px;
    --main-height: calc(100% - var(--header-height) - var(--footer-height));
    --aside-left-width: 15%;
    --aside-right-width: 15%;
    --main-width: calc(100% - var(--aside-left-width) - var(--aside-right-width));
    --main-margin-h: 2px;
    --main-margin-w: 2px;
    --text-color: #00008b;

    /* swiper */
    /* --swiper-navigation-size: 44px; */
    --swiper-navigation-size: 22px;
    /* --swiper-navigation-top-offset: 50%; */
    /* --swiper-navigation-sides-offset: 10px; */
    /* --swiper-navigation-color: var(--swiper-theme-color); */
    --swiper-navigation-color: var(--text-color);

}

body{
    padding: 2px;
    height: 100vh;
}

header{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: var(--footer-height) 1fr var(--footer-height);
    height: var(--header-height);
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
}

#logo{
    height: calc( var(--footer-height) - 2px);
}

#main-total{
    display: flex;
    flex-direction: row;
    height: var(--main-height);
    padding: var(--main-margin-h) 0;
}

aside{
    display: flex;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
}

#aside-left{
    width: var(--aside-left-width);
    margin-right: var(--main-margin-w);
}

.aside-left-show-hide{
    display: none;
}

#aside-right{
    width: var(--aside-right-width);
    margin-left: var(--main-margin-w);
}

.aside-right-show-hide{
    display: none;
}

#side-menu{
    display: flex;
    justify-content: space-between;
}

.side-menu-show{
    display: flex !important;
}

#main{
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    width: 100%;
    /* width: var(--main-width); */
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
}

.main-section{
    /* display: flex; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* height: 30%; */
    max-width: 100%;
    min-width: 0;
    min-height: 0;
}

.card-head{
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
}


footer{
    display: flex;
    height: var(--footer-height);
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
}

.swiper {
    height: 100%;
    margin: 0px 10px;
}

.swiper-slide{
    display: flex;
}

.swiper img{
    width: 100%;
    object-fit: contain;
}

.card-description{
    padding-top: 5px;
}

