*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

form {
    border: 1px;
    width: 400px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 50px 100px -20px gray, 0px 30px 60px -30px gray, 0px -2px 6px 0px blue inset;
}

.form-name {
    text-align: center;
    text-shadow: 1px 1px 10px gray;
    margin-top: 5px;
}

.div-row {
    display: flex;
    justify-content: space-between;
}

.selected {
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    width: fit-content;
}

textarea {
    resize: none;
}

button {
    box-shadow: 1px 1px 5px gray;
}

button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px gray;
}

/* select {
    width: 170px;
} */

/* for version with display: grid */

.grid{
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 5px;
    margin: 5px 0;
}

.version {
    font-size: 0.7em;
    color: gray;
    margin-bottom: 2px;
}

#gender{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#hobby{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

label[for="primer"] {
    grid-column: 1 / 3;
}

