@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-family: "Montserrat", sans-serif; 

    --screen-width-base: 1920; /*px*/
    --section-width-base: 1180; /*px*/
    
    --section-padding-side: calc( ( var(--screen-width-base) - var(--section-width-base) ) / 2 / var(--screen-width-base) * 100vw );
    --section-width: calc( var(--section-width-base) / var(--screen-width-base) * 100vw ); 
    

}

*{
    box-sizing: border-box;
    font-family: var(--font-family);

}

main{
    width: 100%;
}

.section-catalog, .section-advantage, .section-examples{
    padding-left: var(--section-padding-side);
    padding-right: var(--section-padding-side);
    padding-top: 100px;
    padding-bottom: 100px;

    h2{
        margin-bottom: 5.2vw;
        text-align: center;
        font-weight: 700;
        /* font-size: 36px; */
        font-size: 1.875vw;
        line-height: 133%;
        color: #000;
    }

    .catalog-container{
        display: grid;
        /* grid-template-columns: repeat( auto-fill, minmax(186px, 1fr)); */
        grid-template-columns: repeat( 3, 1fr );
        gap: 20px;
    }
}

.section-catalog{
    background-color: #ecf0f1;
}

.section-advantage{
    background-color: #fff;
}

.section-examples{
    background-color: #ecf0f1;
}

.catalog-card{
    width: 100%;
    background-color: #fff;

}

.catalog-card-img{
    width: 100%;

    img{
        width: 100%;
    }
}

.catalog-card-details{
    /* padding: 50px 44px; */
    padding: 2.6vw 2.29vw;

    h3{
        font-weight: 700;
        /* font-size: 24px; */
        font-size: 1.25vw;
        line-height: 143%;
        color: #2e363e;
        /* margin-bottom: 12px; */
        margin-bottom: 0.625vw;
    }

    p{
        font-weight: 400;
        /* font-size: 16px; */
        font-size: 0.833vw;
        line-height: 150%;
        color: #2e363e;
        /* margin-bottom: 24px; */
        margin-bottom: 1.25vw;
    }

    .price{
        font-weight: 500;
        /* font-size: 24px; */
        font-size: 1.25vw;
        line-height: 150%;
        color: #434b53;
        /* margin-bottom: 14px; */
        margin-bottom: 0.729vw;
    }

    button{
        border-radius: 8px;
        /* padding: 20px 40px; */
        padding: 1.04vw 2.08vw;
        /* width: 169px; */
        width: 8.8vw;
        /* height: 68px; */
        height: 3.54vw;
        /* font-size: 18px; */
        font-size: 0.938vw;
        font-weight: 500;
        line-height: 152%;
        background-color: #1f3a93;
    }
}