body {
    height: 100vh;
    background-color: #b0d07e;

}

.menu_block {
    display: flex;
    padding-right: 50px;

}

.img-center {
    width: 30%;
    margin: auto;
}

.img-center img {
    width: 100%;
    border-radius: 50%;
}

.menu_block>h1 {
    display: inline;
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
}

main>h2 {
    margin-top: 20px;
    margin-left: 250px;
    font-family: cursive;
    font-size: 30px;

}
main h3{
    margin-top: 20px;
    margin-left: 100px;
    font-family: cursive;
    font-size: 20px;
}

.but_1 {
    width: 150px;
    height: 50px;
    background-color: #efc863;
    border-radius: 15px;
    margin-left: 15%;
    margin-top: 20px;
}



.feedback_form {
    width: 45%;
    height: 100%;
    margin: auto;


}
 .form_1 {
     width: 80%;
     height: 70%;
     margin: auto;
     font-size: 20px;
     border-radius: 10px;
     border: 2px solid black;
}

.feedback_form h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.label_for input{
    margin-left: 5%;
    /*text-align: center;*/
    margin-top: 3%;
}
.label_for label{
    margin-left: 4%;
}
.label_for{
     height: 8%;
 }
.usinfo {
    width: 55%;
    height: 70%;
}

.feedback_post {
    width: 30%;
    height: 6%;
    margin: 10% auto;
}
.feedback_post button {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #daa463;
}


.feedback_post button:hover {
    background-color: #7accf2;
}

.body_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}


.body_flex img {
    width: 500px;
    border: 2px solid black;
    margin-top: 2%;
    border-radius: 10%;
}

.body_flex div{

    margin-left: 1%;
    margin-right: 1%;
}

.body_flex figcaption {
    width: 100%;
    font-size: 20px;
    margin-bottom: 2%;
}

.work1_content{
    height: 100vh;
}
.work1_block_content1 {
    width: 70%;

}
