@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    height: 112px;
    padding: 0px 96px;
}

nav{
    display: flex;
    align-items: center;
    column-gap: 48px;
}
nav a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

nav button{
    background-color: #426B1F;
    color: #fff;
    border-radius: 8px;
    width: 126px;
    height: 48px;
    font-family: "Inter", sans-serif;

}

.logo{
    font-family: "Newsreader", serif;
    font-size: 32px;
    font-weight: 500;
    color: #426B1F;
}