:root{
    --header-height: 50px;
    --footer-height: 30px;
    --main-height: calc(100% - var(--header-height) - var(--footer-height));
    --aside-left-width: 104px;
    --aside-right-width: 15%;
    --main-width: calc(100% - var(--aside-left-width) - var(--aside-right-width));
    --main-margin-h: 2px;
    --main-margin-w: 2px;
    --text-color: #00008b;
    --background-color: #d4d4d4;

    /* swiper */
    /* --swiper-navigation-size: 44px; */
    --swiper-navigation-size: 22px;
    /* --swiper-navigation-top-offset: 50%; */
    /* --swiper-navigation-sides-offset: 10px; */
    /* --swiper-navigation-color: var(--swiper-theme-color); */
    --swiper-navigation-color: var(--text-color);
}

*{
    box-sizing: border-box;
}

a{
    color: var(--text-color);
}

a:visited{
    color: var(--text-color);
}

a:active{
    color: #000fff;
}



a:hover{
    text-shadow: 1px 1px #fff;
}

body{
    padding: 2px;
    height: 100vh;
}

header{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: var(--header-height) 1fr var(--header-height);
    height: var(--header-height);
    border-radius: 5px;
    border: 1px solid #808080;
    background-color: var(--background-color);
}

.logo{
    height: calc( var(--header-height) - 2px);
}

#main-total{
    display: flex;
    flex-direction: row;
    height: var(--main-height);
    padding: var(--main-margin-h) 0;
}

aside{
    display: flex;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
    justify-content: space-between;
    min-width: 104px;
    width: 104px;
    padding-top: 25px;
}

aside ul li{
    padding-bottom: 5px;
}

#aside-left{
    margin-right: var(--main-margin-w);
}

.aside-left-show-hide{
    display: none;
}

#left-menu-button{
    position: fixed;
    left: 2px;
    border-radius: 5px;
    transform-origin: left bottom;
    width: 100px;
    padding: 0;
    cursor: pointer;
    background-color: var(--background-color);
}

.left-menu-button-pos{
    transform: translateY(2px) rotate(0deg) !important;
}

.left-menu-button-pos::before{
    content: '\1F4CC';
    font-size: 0.8em;
}

#left-menu-button:hover{
    text-shadow: 1px 1px #fff;
}

#right-menu-button{
    position: fixed;
    right: 2px;
    border-radius: 5px;
    transform-origin: right bottom;
    width: 100px;
    padding: 0;
    cursor: pointer;
    background-color: var(--background-color);
}

.right-menu-button-pos{
    transform: translateY(2px) rotate(0deg) !important;
}

.right-menu-button-pos::before{
    content: '\1F4CC';
    font-size: 0.8em;
}

#right-menu-button:hover{
    text-shadow: 1px 1px #fff;
}

#aside-right{
    margin-left: var(--main-margin-w);
}

.aside-right-show-hide{
    display: none;
}

#side-menu{
    display: flex;
    justify-content: space-between;
}

.side-menu-show{
    display: flex !important;
}

#main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
    overflow: auto;
}

.main-section{
    display: grid;
    grid-template-rows: auto 250px auto;
    max-width: 100%;
    min-width: 0;
}

.card-head{
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
}

.swiper {
    height: 100%;
    margin: 0px 20px;
}

.swiper-slide{
    display: flex;
}

.swiper img{
    width: 100%;
    object-fit: contain;
}

.card-description{
    padding-top: 5px;
}

footer{
    display: flex;
    justify-content: center;
    height: var(--footer-height);
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(212, 212, 212);
}

footer div{
    margin: auto;
    display: flex;
    gap: 10px;
    font-size: 1em;
}

footer div a {
    font-size: 0.8em;
    text-decoration: none;
}

#advertisement{
    display: grid;
    grid-template-rows: 5px 50px;
    /* flex-direction: row-reverse; */
}

#advertisement h6 {
    font-size: 10px;
    text-align: center;
}

#advertisement div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#advertisement div a {
    background-color: var(--text-color);
    border-radius: 10px;
    margin: auto 0;
    height: 100%;
}

#advertisement div a img{
    height: 100%;
    background-color: var(--text-color);
    border-radius: 10px;
}