@media screen and (max-width: 1050px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    /* .wrapper {
        width: 61.45%;
    } */
    .padding-top-bottom-section {
        padding: 70px 0px;
    }

    .flex-column {
        gap: 70px;
    }
}

@media screen and (max-width: 360px) {
    .padding-top-bottom-section {
        padding: 40px 0px;
    }

    .flex-column {
        gap: 40px;
    }
}