
.catalog {
    padding: 100px 0px;
    background-color: #ecf0f1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.flex-item {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 8px 16px 0 rgba(194, 198, 208, 0.06);
}

.text_flex-item {
    padding: 50px 44px;
}

.text_flex-item h3 {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 143%;
    color: #2e363e;
}

.text_flex-item .description_flex-item {
    margin-bottom: 24px;
}

.text_flex-item .price {
    margin-bottom: 14px;
}